<h3>Peliculas</h3>

<!-- Ejemplo localización -->

<table class="table table-stripped">

    <!--Table row-->
    <!-- | orderBy es el filtro que se aplcia para que las peliculas se ordenen por fecha -->
    <tr ng-repeat="pelicula in peliculas | orderBy: ['release_date', 'original_title'] ">

        <!--//Fila-->
        <!-- Se utiliza :: para crear un one-time binding -->
        <td>
            <!-- Como la url es dinamica se debe poner ng-href. Si fuera estática se pone href -->
            <a ng-href="#/peliculas/{{ ::pelicula.id }}/detalles ">{{ ::pelicula.original_title}}</a>

        </td>

        <!-- la salida de date:"shortDate" es el parametro que recibe estreno -->
        <td>{{ ::pelicula.release_date | date:"shortDate" | estreno }}</td>
        <td>
            <span class="badge">{{::pelicula.vote_average}}</span>
        </td>
    </tr>


</table>