<h3>Series</h3>

<table class="table table-stripped">

<!--    &lt;!&ndash;Table row&ndash;&gt;
    <tr ng-repeat="serie in series">

        &lt;!&ndash;//Fila&ndash;&gt;
        &lt;!&ndash; Se utiliza :: para crear un one-time binding &ndash;&gt;
        <td>{{ ::serie.original_name}}</td>
        <td>{{ ::serie.first_air_date}}</td>
        <td>
            <span class="badge">{{ ::serie.vote_average}}</span>
        </td>
    </tr>-->
    <tbody>

        <tr elemento-tabla ng-repeat="serie in series" model="serie"></tr>

    </tbody>
    


</table>